<h1 class="text-center">cocktails</h1>
  <div class="row row-cols-1 row-cols-md-2 text-center">
    <% @cocktails.each do |cocktail| %>
     <div class="col mb-4">
        <div class="card">
          <%= image_tag "cocktail.jpg", alt: "Le Wagon"%>
          <div class="card-body">
            <h3 id="blink"><%= cocktail.name %></h3>
            <p class="card-text"><%= link_to "show", cocktail_path(cocktail), class: "btn-grad"%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<p># cocktails</p>
