// Specific CSS for your home-page
body {
  background-color: #bfe9ff;
  background-image: linear-gradient(197deg, #bfe9ff 0%, #FC00FF 100%);

;
  color: #FF00BF;
  text-shadow: 0 0 8px rgba(112, 163, 255, 0.5);
}
